


{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Изображение</th>
                        <th scope="col">Дата окончания</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Cтатус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for send in sendings %}
                        <tr>
                            <th scope="row">{{ send.card.typeCard.nameCard }}</th>
                            <td>{{ send.card.numCard }}</td>
                            <td class="w-25">

                                <img src={% static send.card.image.url %} class="rounded"
                                     width="180" height="60"
                                     style="border-radius: .9rem!important ;">
                            </td>
                            <td> {{ send.card.dateFinish }} </td>
                            <td> {{ send.card.typeCard.price }} </td>
                            <td> {{ send.status }}
                                    {% if send.status='В обработке' %}
                                        <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                    {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {#		    <tr>#}
                    {#		      <th scope="row">2</th>#}
                    {#		      <td class="w-25">#}
                    {#			      <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-5.jpg" class="img-fluid img-thumbnail" alt="Sheep">#}
                    {#		      </td>#}
                    {#		      <td>Bootstrap Grid 4 Tutorial and Examples</td>#}
                    {#		      <td>Cristina</td>#}
                    {#		      <td>1.434</td>#}
                    {#		      <td>3.417</td>#}
                    {#		    </tr>#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}