


{% extends "base_generic.html" %}
{% load static %}

<script src="/static/js/script.js"></script>
{% block content %}

    <form action="" method="POST" enctype="multipart/form-data" style="text-align:center">
    {% csrf_token %}
    <h1>Карта: {{ card_order.nameCard }}</h1>


    <div class="container">

        {#        {% if file_url != "" %}#}
        {#            <img id="cardimg" src={% static file_url %} class="rounded" width="558" height="236"#}
        {#                 style="border-radius: .9rem!important ;position: relative">#}
        {#        {% else %}#}
        <img id="cardimg" src={% static card_order.image.url %} class="rounded" width="558" height="236"
             style="border-radius: .9rem!important ;position: relative">
        {#        {% endif %}#}
        <img src="/static/img/chip.png" class="rounded" width="58" height="50"
             style="position: absolute;
        bottom: 570px;
        left: 500px;">
        <img src="/static/img/visa.png" class="rounded" width="80" height="50"
             style="position: absolute;
        bottom: 420px;
    left: 887px;">
        <h1 style="position: absolute;
  left: 520px;
  bottom: 480px;
  width: 400px;
  font-weight: 250;

  text-align: justify;
   text-align-last: justify;
  font-size: 1.5rem;
  color: #f5f50e">0000 0000 0000 0000</h1>
        <h1 style="position: absolute;
  left: 520px;
  bottom: 420px;
  font-weight: 250;
  font-size: 1.5rem;
  color: #f5f50e">Cardholder name</h1>
        <h1 style="position: absolute;
  left: 803px;
  bottom: 420px;
  font-weight: 250;
  font-size: 1.5rem;
  color: #f5f50e">00/00</h1>
    </div>
    <div class="d-flex justify-content-start">
        <div class="btn btn-mdb-color btn-rounded float-left">
            <input type="file" id="add_image" name="cardPic">
        </div>
    </div>
    {#    <form id="form1">#}
    {#        <input type='file' id="imgInp" />#}
    {#        <img id="blah" src="#" alt="your image" />#}
    {#    </form>#}

    {#    <form method="post" enctype="multipart/form-data">#}
    {#        {% csrf_token %}#}
    {#        <!-- myfile1 - переменная передающееся в Django -->#}
    {#        <input type="file" name="myfile1" value="Выбрать изображение">#}
    {#        <button type="submit">Применить</button>#}
    {#    </form>#}

        {#  <div class="form-group">#}
        {#    <label for="exampleFormControlInput1">Email address</label>#}
        {#    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">#}
        {#  </div>#}

        <div class="form-group">
            <label for="exampleFormControlSelect1">Выбор ЦБУ</label>
            <select class="form-control" id="exampleFormControlSelect1" name="nameCBU" >
                {% for cbu in filials %}
                    <option>ЦБУ № {{ cbu.numFelial }} Адрес: {{ cbu.address }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Выбор счета</label>
            <select class="form-control" id="exampleFormControlSelect1" name="list_accounts">
                <option>Новый счет</option>
                {% for account in accounts %}
                    <option>{{ account.numAccount }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                   onchange="document.getElementById('address').disabled = !this.checked;">
            <label class="form-check-label" for="defaultCheck1">
                Почтовое отправление
            </label>
        </div>

        <div class="form-group">
            <input id="address" type="text" class="form-control" placeholder="Адрес">
        </div>

        <button type="submit">Оформить заявку</button>
    </form>
    <script>
        const inpFile = document.getElementById("add_image");
        const previewImage = document.getElementById("cardimg");
        inpFile.addEventListener("change", function () {
            const file = this.files[0];

            if (file) {
                const reader = new FileReader();

                reader.addEventListener("load", function () {
                    previewImage.setAttribute("src", this.result)
                });

                reader.readAsDataURL(file);
            }
        })
    </script>
{% endblock %}