

{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <h1>Название: {{ typescard.nameCard }}</h1>

  <p><strong>Цена:</strong> {{ typescard.price }}</p> <!-- author detail link not yet defined -->
  <p><strong>Описание:</strong> {{ typescard.description }}</p>

<div class="container">
  <img src={% static typescard.image.url %} class="rounded" width="558" height="236" style="position: relative">
  <h1 style="position: absolute;
  left: 120px;
  bottom: 50px;
  width: 100%;
  color: #f5f50e">0000 0000 0000 0000</h1>
<h1 style="position: absolute;
  left: 120px;
  bottom: 0;
  width: 100%;
  color: #f5f50e">Cardholder</h1>
<h1 style="position: absolute;
  left: 403px;
  bottom: 0;
  width: 100%;
  color: #f5f50e">00/00</h1>
</div>



{% endblock %}