{% extends "base_generic.html" %}

{% block content %}
    <form style="text-align:center">
    <h1>Выбор карты</h1>


    <div >
        <div >
            <div >
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Валюта</th>
                        <th scope="col">Cash-back</th>
                        <th scope="col">Срок выдачи</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for typeCard in typescard_list %}
                            <tr>
                            <th scope="row"> {{ typeCard.nameCard }} </th>
                            <td> {{ typeCard.ccy }}</td>
                            <td> {{ typeCard.cashback }}</td>
                            <td> {{ typeCard.validity_period }}</td>
                            <td> {{ typeCard.price }}</td>
                            <td>
                                <a  href="{{ typeCard.get_absolute_url }}">
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                </a>
                            </td>
                            </tr>
                        {% endfor %}



                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </form>
{% endblock %}